/* src/components/Header.css */
.header {
  background-color: #333;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.nav-brand .nav-link {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav-item .nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-item .nav-link:hover {
  color: #ff6347;
}